
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background: black;
}

.custom-global-class {
  color: #333;
  background-color: #f8f8f8;
}

.main-body {
  background-color: #000000;
}

.main {
  width: 80%;
  margin: auto;
  height: 100%;

  @media (max-width: 1024px) {
    width: 90%;
  }

  @media (max-width: 768px) {
    width: 100%;
    padding: 0 0.5rem;
  }
}
